body {
	
}

div.fields {
	border:1px solid #000000;
	padding:10px;
	
}

div.fields label{
	display:inline-block;
	width:100px;
}

div.fields input {
	width:200px;
}

#functions, #methods {
	list-style-type:none;
}

#functions li, #methods li {
	float:left;
	display:block;
	padding:5px;
}

.clearfix {
	clear:both;
}

a {
	text-decoration:none;
}

a.selected {
	font-size:1.2em;
	font-weight:bold;
}